[submodule "Assets/latkxARFoundation"]
	path = Assets/latkxARFoundation
	url = https://github.com/n1ckfg/latkxARFoundation
[submodule "Assets/latkxColorPicker"]
	path = Assets/latkxColorPicker
	url = https://github.com/n1ckfg/latkxColorPicker
[submodule "Assets/latkxONNX"]
	path = Assets/latkxONNX
	url = https://github.com/n1ckfg/latkxONNX
