[submodule "Assets/latkUnity"]
	path = Assets/latkUnity
	url = https://github.com/LightningArtist/latkUnity
[submodule "Assets/latkxARFoundation"]
	path = Assets/latkxARFoundation
	url = https://github.com/n1ckfg/latkxARFoundation
